---

const { heading, subheading, copy, thumbnail, ctas } = Astro.props

import Media from "@/components/media/index.astro"
import CTAs from "@/components/ctas/index.astro"

---

<div class="flex flex-col bg-white border border-neutral-light rounded shadow-lg w-full overflow-hidden grow">
    {thumbnail && (
        <div class="flex shrink-0 grow-0 w-full bg-primary aspect-video overflow-hidden"> 
            <Media media={ thumbnail} />
        </div>        
    )}

    <div class="flex flex-col justify-start p-4 grow">
        { subheading && <span class="text-sm  tracking-wide text-primary-text/60"> { subheading} </span> }
        <h3 class="text-lg"> {heading} </h3>
        {  copy && <p class="mt-1 grow"> {copy} </p> }
          
        { ctas && (
            <CTAs ctas={[ctas]} />  
         )}
    </div>
</div>  