---

import GenericLayout from "@/layouts/generic.astro"

const iframeURL = Astro.url.searchParams.get('bookingref')! || "https://hrc.setmore.com/book";

---

<GenericLayout>
    <div class="w-full flex flex-col justify-center ">
        <embed src={iframeURL} class="w-full h-[920px]"/>
    </div>
</GenericLayout>