---
import type { Props } from "./types"

import Anchor from "@/components/anchor/index.astro"

const { ctas } = Astro.props 

---

<div class="flex mt-6 gap-6">
    {ctas && ctas.length && ctas.map(cta => (
        <Anchor href={cta.href} variant={cta.variant ?? 'primary'} label={cta.label}/>
    ))}
</div>        