@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-main: "Poppins", sans-serif;
  --color-*: initial;
  --color-primary: oklch(0.78 0.1338 99.78);
  --color-primary-light: oklch(0.88 0.073 99.78);
  --color-primary-dark: oklch(0.68 0.112 99.78);
  --color-primary-text: oklch(0.1448 0 89.88);
  --color-white: oklch(1 0 89.88);
  --color-neutral-dark: oklch(14.5% 0 0);
  --color-neutral-light: oklch(92.2% 0 0);
  --color-neutral: oklch(70.8% 0 0);
  --color-utility-error: oklch(57.7% 0.245 27.325);
  --color-utility-warning: oklch(66.6% 0.179 58.318);
  --color-utility-success: oklch(62.7% 0.194 149.214);
  --radius-*: initial;
  --radius: 0.5rem
}

* {
  @apply font-main antialiased;
}

button,
.button {
  @apply inline-flex rounded px-4 py-2 font-semibold transition-all cursor-pointer items-center gap-1;

  &.primary {
    @apply bg-primary text-primary-text hover:bg-primary-dark;
  }

  &.secondary {
    @apply border border-primary text-primary hover:bg-primary-light hover:text-primary-text;
  }

  &.inline {
    @apply p-0 hover:underline underline-offset-2 decoration-2;
  }

  &.nav {
    @apply relative p-0 m-0 font-normal  hover:underline underline-offset-3 decoration-primary decoration-2;

  }
}

@layer components {
  .container {
    @apply mx-auto px-4 lg:px-4;
  }

  dynamic-menu { 
    dynamic-burger {
      @apply grid grid-cols-3 grid-rows-3 gap-1.25 w-8 h-8 items-center cursor-pointer;

      > div {
        @apply  w-1.25 h-1.25 bg-neutral-dark rounded-full transition-all;
      }

      &.close {
        > div:nth-child(even) {
          @apply bg-neutral-dark/20;
        }
      }
    }

    nav {
      @apply hidden;

      &.open {
        @apply flex;
      }
    }

  }

  details {

    &[open] summary svg {
      @apply rotate-45;
    }


    summary {
      @apply flex justify-between items-center cursor-pointer;

      h3 {
        @apply text-xl!;
      }
 
      svg {
        @apply w-7 h-7 transition-all;
      }
    }

    > div {
      @apply mt-1;
    }
  }
}

.has-gradient { 
  @apply z-10;

  &::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-gradient-to-r from-primary to-primary-text opacity-50;
  }
}

.subheading {
  @apply mt-1 text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold tracking-normal;
}

h1:not([class]) {
  @apply text-4xl md:text-5xl lg:text-6xl font-semibold;
}

h2:not([class]) {
  @apply text-3xl md:text-4xl lg:text-5xl font-semibold;
}

h3:not([class]) {
  @apply text-xl md:text-2xl font-semibold;
}

h4:not([class]) {
  @apply text-lg md:text-2xl font-semibold;
}

h5:not([class]) {
  @apply font-semibold md:text-lg;
}

h6:not([class]) {
  @apply font-semibold;
}

p,
span {
  > a {
    @apply text-primary hover:underline underline-offset-2 font-semibold;
  }
}

.blocks {

  ul {
    @apply  flex flex-col list-disc list-outside gap-1 ml-5;

    li::marker {
      @apply text-primary;
    }
  
  }

  ol {
    @apply list-decimal list-inside;

    li::marker {
      @apply text-primary font-semibold;
    }
  }
}

input, select, textarea {
  @apply border-neutral-light rounded border w-full px-3 py-2;
}

.grid-card {
  @apply relative rounded shadow-xl border border-neutral-light bg-white;
}

.swiper { 
  .swiper-slide {
    @apply flex grow py-4 h-auto;
  }

  .swiper-pagination {
    @apply relative pt-4;

    .swiper-pagination-bullet {
      @apply bg-transparent border border-neutral opacity-100 transition-all w-3 h-3;

      &.swiper-pagination-bullet-active {
        @apply bg-primary border-primary;
      }
    }

  }
}

.nav-dropdown-menu {
  @apply hidden lg:absolute lg:top-full lg:left-0  lg:min-w-max lg:bg-white lg:border-t lg:border-t-neutral-light lg:border-b-2 lg:border-b-primary lg:shadow-2xl z-999;

  &.open {
    @apply flex;
  }
}

.menu-dropdown-toggle {

  &.active {
    @apply rotate-180;
  }
}