---

import Anchor from "@/components/anchor/index.astro"
import Logo from "@/components/logo/index.astro"
import DynamicMenu from "@/components/dynamicMenu/index.astro"
import DynamicNav from "./navigation/index.astro"
 
---

<header class="sticky top-0 h-20 bg-white border-b border-b-neutral-light flex flex-row items-center z-999">
    <div class="container grid grid-cols-[auto_1fr] lg:grid-cols-[auto_1fr_auto] gap-x-12 h-full">
        <a href="/" class="flex flex-row justify-center items-center">
            <Logo />
        </a>

        <nav class="hidden lg:flex grow lg:justify-start lg:items-center">
            <DynamicNav />
        </nav>

        <div class="hidden lg:flex flex-row justify-center items-center gap-4">
            <Anchor variant="primary" label="Book a session" href="/book" /> 
        </div>


        <div class="lg:hidden flex justify-end items-center">
            <DynamicMenu>
                <DynamicNav />
            </DynamicMenu>
        </div>
    </div>
</header>