---

import Anchor from "@/components/button/index.astro"
import Logo from "@/components/logo/index.astro"
import DynamicMenu from "@/components/dynamicMenu/index.astro"

---

<header class="sticky top-0 bg-white border-b border-b-neutral-light h-20 flex flex-row items-center z-999">
    <div class="container grid grid-cols-[auto_1fr_auto] items-center">
        <div class="flex flex-row justify-center items-center">
            <Logo />
        </div>

        <nav>

        </nav>

        <div class="hidden md:flex flex-row justify-center items-center gap-4">
            <Anchor type="button" variant="primary" label="Book a session" href="#" />
            <Anchor type="button" variant="secondary" label="Book a session" href="#" />
            <Anchor type="button" variant="inline" label="Book a session" href="#" />
        </div>


        <div class="md:hidden">
            <DynamicMenu />
        </div>
    </div>
</header>