---


---

<header class="sticky top-0 py-4 bg-white border-b border-b-neutral-light">
    <div class="container grid grid-cols-[auto_1fr_auto]">
        <div class="flex flex-row justify-center items-center gap-2">
            <img src="/hrc-watermark.svg" alt="HRC Watermark" class="h-12"/>
            <span class="text-2xl font-semibold"> HRC Podiatry </span>
        </div>

        <nav>

        </nav>

        <div class="flex flex-row justify-center items-center gap-4">
            <a href="#" class="button primary"> Book a session </a> 
            <a href="#" class="button secondary "> Book a session </a> 
            <a href="#" class="button inline"> Book a session </a> 
        </div>
    </div>
</header>