---
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
import Review from "@/components/review/index.astro"
import Composite from "@/components/composite/index.astro"

const { heading, subheading, reviews} = Astro.props


---

<Composite heading={heading} subheading={subheading}>
    <div class="mt-6">
        <Swiper  
            options={{
            autoplay: {
                delay: 3000
            },
            speed: 1000,  
            loop: true,
            spaceBetween: 16,
            breakpoints: {
                0: {
                    slidesPerView: 1
                },
                768: {
                    slidesPerView: 2
                },
                1240: {
                    slidesPerView: 3
                }
            }
        }}> 
            <SwiperWrapper>
                { reviews && reviews.map((t) => (
                    <SwiperSlide> <Review {...t} /> </SwiperSlide> 
                ))}
            </SwiperWrapper>
        </Swiper>            
    </div> 
</Composite>

<script>
    import { inView, animate, stagger  } from "motion"

    inView(document.querySelector(".swiper-wrapper"), (target) => { 
        animate(
            target.querySelectorAll(".swiper-slide"),
            { opacity: [0, 1]},
            { duration: 1, delay: stagger(0.05),  easing: "ease-out"}
        );
    });
</script>