---
import GenericLayout from "@/layouts/generic.astro"

---

<GenericLayout>
	<section>
		<div class="container flex flex-col gap-4 py-8"> 
			<h1> Headings should look like this </h1>
			<h2> Headings should look like this </h2>
			<h3> Headings should look like this </h3>
			<h4> Headings should look like this </h4>
			<h5> Headings should look like this </h5>
			<h6> Headings should look like this </h6>
			<p>This is the default starter template for Astro.</p>
			<p> This is some text with a <a href="#">link</a> in it.</p>
			<ul>
				<li>List item one</li>
				<li>List item two</li>
				<li>List item three</li>
			</ul>
			<ol>
				<li>List item one</li>
				<li>List item two</li>
				<li>List item three</li>
			</ol>
		</div>
	</section>
</GenericLayout>
