---

import ContactForm from "@/components/contactForm/index.astro"
import Blocks from "@/components/blocks/index.astro"
import Composite from "@/components/composite/index.astro"

const { heading, subheading, copy} = Astro.props

---



<Composite  class="flex flex-col justify-center items-center">   
    <div class="flex flex-col justify-center items-center max-w-4xl ">
        <div class="flex flex-col justify-center items-center mb-6">
            <h2>{ heading }</h2>
            <p class="subheading">{ subheading }</p>            
            { copy && (
                <Blocks content={copy} class="mt-2" slot="composite-header"/>               
            )}
        </div>
    

        <div class="border border-neutral-light p-4 rounded shadow-2xl">
            <ContactForm />
        </div>
    </div>
</composite>