---

import ContactForm from "@/components/contactForm/index.astro"
import Blocks from "@/components/blocks/index.astro"
import Composite from "@/components/composite/index.astro"

const { heading, subheading, copy} = Astro.props

---



<Composite heading={heading} subheading={subheading} inline>   
        <Blocks content={copy} class="mt-2" slot="composite-header"/>       

        <div class="border border-neutral-light p-4 rounded shadow-2xl">
            <ContactForm />
        </div>
   
</composite>